$color-primary: #09bc8a;
$color-secundary: #004346;
$color-text: #172a3a;
$color-text-secundary: #508991;
$color-green-light: #75dddd;
$color-white: #fff;
$color-red: #f44336;
$color-linear: linear-gradient(82.84deg, #4acf8c 0%, #75eda6 100%);
